<section>
  <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mt-5 d-flex">
                <span  class="mr-2">My username is {{username}}</span>
                <span  class="mr-2">My age is {{age}}</span>
                <span  class="mr-2">My City is {{City}}</span>
                <span  class="mr-2">My Location is {{getCity()}}</span>
              </div>
              <div class="mt-5 d-flex">
                <span [innerText]="name" class="mr-2"></span>
                <span [innerText]="age" class="mr-2"></span>
                <span [innerText]="getCity()" class="mr-2"></span>
                <span [innerText]="age1" class="mr-2"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center mt-5">
                    <button class="btn btn-success" (click)="changeName()">Change</button>
                </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex justify-content-center mt-5">
                 <label class="mr-3">Name</label>
                 <input type="text" (input)="change($event)" />
              </div>
              <div class="d-flex justify-content-center mt-5">
                <label class="mr-3">City</label>
                <input type="text" [(ngModel)]="City" [ngModelOptions]="{standalone:true}"/>
             </div>
            </div>
          </div>
        <div class="row">
             <div class="col-md-6">
                 <input type="text" [(ngModel)]="name"/>
             </div>
             <div class="col-md-6">
                <button class="btn btn-success" (click)="addName()" [disabled]="btnDisable">Add Name</button>
                <p>{{text}}</p>
             </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <input type="text" [(ngModel)]="names" [ngModelOptions]="{standalone:true}"/>

          </div>
          <div class="col-md-6">
             <button class="btn btn-success" [disabled]="names===''" (click)="names=''">Reset</button>
             <p>{{names}}</p>
          </div>
     </div>
  </div>
</section>


